@media screen and (min-width: 375px) {
  .page-container .navbar {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .container-login {
    width: 70%;
  }
  .block-label-address {
    flex-direction: row !important;
  }
  .block-label-address .login-label:nth-child(2) {
    padding-left: 5px;
  }
  .title-box {
    width: 500px;
    margin-bottom: .5rem;
  }
  .navbar-mobile .navbar-header a {
    font-size: 18px;
  }
  .page-container-content {
    margin-top: 1rem;
    border-radius: 4px;
    width: 600px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .container-dot .container-dot__item {
    height: 8px !important;
    width: 8px !important;
  }
  .container-button .btn {
    width: 400px;
  }
  .sidenav {
    z-index: 0;
  }
  .container-description .label-description {
    font-size: 12px;
    line-height: 15px;
  }
  .container-content__header .collapsible-content {
    font-size: 12px;
    line-height: 20px;
  }
  .collapsible {
    font-size: 16px;
  }
  .page-container .page-container-content.exhibition-page {
    padding-top: 0 !important;
  }
  .shop-page {
    margin-top: 24px;
  }
  .container-slider-description.container-slider-description-shop-page {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
  }
  .product {
    width: 60%;
    padding-left: 30px;
  }
  .wrap-shop-page {
    width: 50%;
  }
  .product .product__description h3 {
    font-size: 20px;
  }
  .product .label-description {
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
  }
  .responsive-gallery.responsive-gallery--tablet {
    width: 33.3333%;
  }
  .collection-page.collection-page-responsive {
    padding: 15px;
  }
  .collection-page.collection-page-responsive .collection-page__search {
    width: 40%;
  }
  .collection-page.collection-page-responsive .collection-page__gallery--item.-desc {
    font-weight: 400;
  }
  .page-container-content.ticket-page.ticket-page-response .ticket-page__header {
    width: 350px;
  }
  .page-container-content.ticket-page.ticket-page-response {
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    padding-top: 0;
  }
  .page-container-content.ticket-page.ticket-page-response .ticket-page__header .ticket-page__header--title {
    font-size: 38px;
    line-height: 49px;
  }

  .page-container-content.ticket-page.ticket-page-response .ticket-page__header .ticket-page__header--desc {
    font-size: 15px;
    line-height: 25px;
    margin-top: 30px;
  }

  .page-container-content.become-page.become-page-response {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }
  .container-button .btn.btn-login {
    width: 100%;
  }
  .become-page__button.responsive .btn {
    width: 400px;
    margin-top: 40px;
  }
  .become-page__product.responsive {
    padding: 0;
  }
  .become-page__desc.responsive {
    font-size: 14px;
    line-height: 29px;
    width: auto;
  }
  .become-page-left {
    width: 45%;
  }
  .become-page-left {
    width: 45%;
  }
} 

@media screen and (min-width: 1140px) {
  .container-login {
    width: 35%;
  }
  .heading-primary {
    font-size: 50px;
    width: 270px;
    line-height: 55px;
  }
  .page-container .navbar-mobile {
    display: none;
  }
  .page-container .navbar {
    display: flex;
  }
  .title-secondary {
    font-size: 14px;
    line-height: 16px;
  }
  .page-container-info .info-box {
    justify-content: center;
  }
  .page-container-section {
    display: flex;
  }
  .page-container .page-container-content {
    width: 40%;
    padding: 30px;
  }
  .navbar-mobile {
    display: none;
  }
  .page-container-content {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    border-radius: none;
    margin-left: 0;
    transform: translateX(0);
  }
  .collapsible-content {
    font-size: 14px;
  }
  .page-container-content {
    padding-top: 0;
  }
  .page-container-content .container-title-box .title-primary {
    width: 300px;
  }
  .container-slider-description {
    display: flex;
    justify-content: space-between;
  }
  .container-slider-description .container-content {
    width: 40%;
    margin-top: -60px;
  }
  #wrap {
    width: 100%;
  }
  .navbar-content .navbar-content-item {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .navbar .navbar-content .navbar-content-item {
    font-size: 14px;
  }
}