.collection-page {
  padding: 15px 15px 0 15px;
}

.collection-page__search {
  width: 100%;
  position: relative;
}

.collection-page__search--input {
  width: 100%;
  border: 2px solid #FF473A;
  color: #FF473A;
  height: 40px;
  padding-left: 10px;
}

.collection-page__search--input::placeholder {
  color: #FF473A;
  font-size: 18px;
  line-height: 22px;
}

.collection-page__search--icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.collection-page__title {
  padding: 5px 0;
}

.collection-page__title a {
  color: #FF473A;
  text-decoration: underline;
}
.collection-page__gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.collection-page__gallery--item img {
  width: 100%;
  height: auto;
}

.collection-page__gallery--item.-desc {
  font-size: 12px;
  line-height: 15px;
  color: #FF473A;
  text-transform: uppercase;
}

.responsive-gallery {
  width: 50%;
  padding: 10px;
}