.page-container .page-container-content.shop-page {
  width: 100%;
  justify-content: flex-start;
  margin-top: -15px;
}

.product__description h3 {
  font-weight: 500;
}

.product__description p {
  line-height: 15px;
  font-size: 10px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.product__price--text h3 {
  font-weight: 400;
}

.product__price--text p {
  color: #D4D4D4;
  font-size: 12px;
}

.product__price--button button {
  border: 1px solid #D4D4D4;
  color: #D4D4D4;
  background: transparent;
  width: 18px;
  height: 18px;
}

.product__price--button span {
  color: #D4D4D4;
  padding: 0 3px;
  font-size: 12px;
}

.product__button {
  padding: 0 30px;
}

.icon-description {
  text-align: right;
  margin-top: -25px;
}

.wrap-slide {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  border: .5px solid #eee;
}

.wrap-slide__img {
  display: none;
  height: 375px;
  object-fit: cover;
}

.container-slider-description-shop-page {
  display: flex;
  flex-direction: column;
}

.product__button {
  text-align: center;
}